$primaryFontColor: #707A89;
$primaryColor: #4F46BA;
$secondaryColor: #84E8F4;
$contentBackgroundColor: rgba(236, 235, 235, 0.459);
$orange: #F9896B;
$lightOrange: #FFBC65;

.lightOrangeBackgroundColor {
    background-color: $lightOrange;
}

.orangeBackgroundColor {
    background-color: $orange;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.verticalCenter {
    display: flex;
    align-items: center;
}


.contentBackgroundColor {
    background-color: $contentBackgroundColor;
}

.smallHeading {
    font-size: calc(0.7vw + 4px);
    font-weight: 600;
}

.secondaryBackgroundColor {
    background-color: $secondaryColor;
}

.primaryFont {
    font-size: calc(0.5vw + 5px);
    color: $primaryFontColor;
}

.primaryBackgroundColor {
    background-color: $primaryColor;
}

.primaryColor {
    color: #4F46BA;
}